 /* Navbar container */
 .navbar {
    background-color: transparent;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    height: 50px;
}

/* Navbar logo */
.navbar .logo {
    color: black;
    font-size: 24px;
    text-decoration: none;
}

/* Navbar list */
.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 0;
}

/* Navbar list items */
.navbar ul li {
    display: inline;
}

/* Navbar links */
.navbar ul li a {
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

/* Navbar links hover effect */
.navbar ul li a:hover {
    background-color: #575757;
}

/* Right-side buttons */
.navbar .right {
    display: flex;
    align-items: center;
}

.navbar .right a {
    margin-left: 10px;
}